
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>@ViewData["Title"] - LearnStudent</title>
    <link rel="stylesheet" href="~/lib/bootstrap/dist/css/bootstrap.css" />
    <link rel="stylesheet" href="~/LearnStudent.styles.css" asp-append-version="true" />
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.10.5/font/bootstrap-icons.css">
    <link rel="stylesheet" href="//cdnjs.cloudflare.com/ajax/libs/toastr.js/latest/css/toastr.min.css" />

    <link rel="stylesheet" href="~/css/site.css" asp-append-version="true" />
    <link rel="stylesheet" href="//cdn.datatables.net/1.13.6/css/jquery.dataTables.min.css"/>
    <style>


        .sidebarLayout {
  height: 100%;
  width: 0;
  position: fixed;
  z-index: 1;
  top: 0;
  left: 0;
  background-color: #111;
  overflow-x: hidden;
  transition: 0.5s;
  padding-top: 200px;
}

            .sidebarLayout a {
  padding: 8px 8px 8px 32px;
  text-decoration: none;
  font-size: 25px;
  color: #818181;
  display: block;
  transition: 0.3s;
}

                .sidebarLayout a:hover {
  color: #f1f1f1;
}

                .sidebarLayout i:hover {
                    color: #f1f1f1;
                }

            .sidebarLayout .closebtn {
  position: absolute;
  top: 0;
  right: 25px;
  font-size: 36px;
}

.openbtn {
  font-size: 20px;
            cursor: pointer;
}

        #openButton {
    transition: margin-left .5s; 
    padding-left:10px; 
    
}

        .dropdown {
            position: relative;
            display: inline-block;
        }

        .dropdown-content {
            display: none;
            position: block;
            background-color: #111;
            min-width: 160px;
            box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
            padding: 12px 16px;
            z-index: 1;
            
        }

        .dropdown:hover .dropdown-content {
            
            display: block;
            
        }

        .arrow {
            
            border: solid white;
            border-width: 0 6px 6px 0;
            display: inline-block;
            padding: 6px;
            margin-left: 5px;
            transform: rotate(45deg);
            -webkit-transform: rotate(45deg);
            opacity: 0.5;
        }

        
</style>
</head>
<body>
    <header>
        <nav class="navbar navbar-expand-sm navbar-toggleable-sm navbar-dark bg-primary border-bottom box-shadow mb-3">
            <div class="container-fluid">
                <div id="openButton">
                    <button style="background-color: initial; color: white; border: solid 1px white; border-radius: 5px; margin: 0 20px 0 0" class="openbtn" onclick="openNav()">☰</button>
                </div>
                <a class="navbar-brand" asp-area="" asp-controller="Home" asp-action="Index">LearnStudent</a>
                <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target=".navbar-collapse" aria-controls="navbarSupportedContent"
                        aria-expanded="false" aria-label="Toggle navigation">
                    <span class="navbar-toggler-icon"></span>
                </button>
                <div class="navbar-collapse collapse d-sm-inline-flex justify-content-between">
                    <ul class="navbar-nav me-auto">
                        <li class="nav-item">
                            <a class="nav-link" asp-area="User" asp-controller="Home" asp-action="Index">Home</a>
                        </li>

                        <li class="nav-item">
                            <a class="nav-link" asp-area="User" asp-controller="Home" asp-action="Privacy">Privacy</a>
                        </li>
                        
                            
                      
                            <li class="nav-item">
                                <a class="nav-link" asp-area="Admin" asp-controller="AdminPanel" asp-action="Index">Panel administratora</a>
                            </li>
                        
                    </ul>
                    <partial name="_LoginPartial" />
                </div>
            </div>
        </nav>


    </header>
    <div id="mySidebar" class="sidebarLayout">
        <a href="javascript:void(0)" class="closebtn" onclick="closeNav()">×</a> 
        <div class="dropdown">
            <span><a href="#">Informatyka  <i class="arrow"></i></a></span>

        <div class="dropdown-content">

                <a style="font-size: 16px" class="levels" href="#">Informatyka 1</a>
                <a style="font-size: 16px" class="levels" href="#">Informatyka 2</a>

        </div>
        </div>
        <div class="dropdown">
            <span><a href="#">Elektrotechnika  <i class="arrow"></i></a></span>

            <div class="dropdown-content">

                <a style="font-size: 16px" class="levels" href="#">Elektrotechnika 1</a>
                <a style="font-size: 16px" class="levels" href="#">Elektrotechnika 2</a>

            </div>
        </div>
    </div>

    
    <div class="container">
        <main role="main" class="pb-3">
            
            @RenderBody()
        </main>
    </div>

    <footer class="border-top footer bg-primary text-center text-white">
        <div class="container">
            Made with <i class="bi bi-heart-fill"></i> by XYZ
        </div>
    </footer>
    <script src="~/lib/jquery/dist/jquery.min.js"></script>
    <script src="~/lib/bootstrap/dist/js/bootstrap.bundle.min.js"></script>
    <script src="~/js/site.js" asp-append-version="true"></script> 
    <script src="https://cdn.jsdelivr.net/npm/sweetalert2@11"></script>
    <script src="//cdn.datatables.net/1.13.6/js/jquery.dataTables.min.js" asp-append-version="true"></script>
    <script src="https://cdn.tiny.cloud/1/73aiauzwcdykvenqcz6q151jcv8ex8gf50prwlxanpr5wff7/tinymce/6/tinymce.min.js" referrerpolicy="origin"></script>
    @await RenderSectionAsync("Scripts", required: false)

    <script>
function openNav() {
             document.getElementById("mySidebar").style.width = "250px";
             
}

function closeNav() {
            document.getElementById("mySidebar").style.width = "0";
            
}
</script>
</body>
</html>
